<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tutorial Sharing</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{lang.lngName}">Lang<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/index?language=en" >English</a></li>
                    <li><a href="/index?language=tr" >Türkçe</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

<div class="container" style="padding: 50px;">
    <h3 th:text="#{lang.homepage}"></h3>
    <p th:text="#{lang.description}"></p>
</div>

</body>
</html>
